.header {
    grid-area: header;
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    
    /* text-align: center;
    display: flex;
    justify-content: center;
    font-style: italic; */
}

.header .title {
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 30px;
}

.header .title a {
    text-decoration: none;
    color: #fff;
}


.header .title .x {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
}

.header .logout {
    position: absolute;
    top: 10px;
    right: 20px;
}
